#root {
  width: 100vw; /* Растягиваем на всю ширину экрана */
  height: 100vh; /* Растягиваем на всю высоту экрана */
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
